<?xml version="1.0" ?>
<robot name="medibot" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="silver_default">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>
<material name="black">
  <color rgba="0.2 0.2 0.2 1.0"/>
</material>
<material name="plastic_translucent_glossy_gray">
  <color rgba="0.1 0.1 0.1 1.0"/>
</material>
<material name="blue">
  <color rgba="0.1 0.1 0.7 1.0"/>
</material>

</robot>
